@import "tailwindcss";

@font-face {
  font-family: "JetBrainsMono Nerd Font";
  src: url("../../public/fonts/jetbrains/JetBrainsMonoNerdFontMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.font-jetbrains {
  font-family: "JetBrainsMono Nerd Font", monospace;
}


:root {
  /* the default theme cattpuccin */
  --foreground: #EFF1F5;
  --background: #1E1E2E;
  --red: #F38BA8;
  --gray: #BAC2DE;
  --green: #7ED88B;
  --yellow: #E18E1D;
  --blue: #89B4FA;
  --pink: #F5C2E7;
  --cyan: #94E2D5;

}

/* Apprentice theme */
[data-theme="apprentice"] {
  --foreground: #BCBCBC;
  --background: #262626;
  --red: #AF5F5F;
  --green: #5F875F;
  --yellow: #87875F;
  --blue: #5F87AF;
  --pink: #5F5F87;
  --cyan: #5F8787;
  --gray: #6C6C6C;

}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-foreground-text: var(--forground-text);

  --color-red: var(--red);

  --color-gray: var(--gray);

  --color-green: var(--green);

  --color-yellow: var(--yellow);

  --color-blue: var(--blue);

  --color-pink: var(--pink);

  --color-cyan: var(--cyan);


  --font-sans: var(--font-jetbrains);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-jetbrains), Helvetica, sans-serif;
}